<header id="page-header">
    <h1>Our Team</h1>
</header>

<div>
    <h3>Nick H. Metzler</h3>
    <img src="https://avatars.githubusercontent.com/u/44005221?v=4">
    <p>The Gym Bro</p>
</div>

<div>
    <h3>John Ernest Amiscaray</h3>
    <img src="https://avatars.githubusercontent.com/u/63324129?v=4">
    <p>The Code Monkey</p>
</div>

<div>
    <h3>Inthuyen Naguleswaran</h3>
    <img src="https://avatars.githubusercontent.com/u/79668965?v=4">
    <p>The Mastermind</p>
</div>

<div>
    <h3>Cheukfei Louie</h3>
    <img src="https://avatars.githubusercontent.com/u/82793187?v=4">
    <p>The Ghost</p>
</div>