<div>
    <img src="https://avatars.githubusercontent.com/u/44005221?v=4" style="width: 10%">
    <h3>Nick H. Metzler</h3>
    <p><strong>Email: </strong>nickhmetzler@torontomu.ca</p>
    <p><strong>Phone: </strong>647-123-4567</p>
</div>

<div>
    <img src="https://avatars.githubusercontent.com/u/63324129?v=4" style="width: 10%">
    <h3>John Ernest Amiscaray</h3>
    <p><strong>Email: </strong>john.amiscaray@torontomu.ca</p>
    <p><strong>Phone: </strong>647-782-5799</p>
</div>

<div>
    <img src="https://avatars.githubusercontent.com/u/79668965?v=4" style="width: 10%">
    <h3>Inthuyen Naguleswaran</h3>
    <p><strong>Email: </strong>inaguleswaran@torontomu.ca</p>
    <p><strong>Phone: </strong>647-777-8888</p>
</div>

<div>
    <img src="https://avatars.githubusercontent.com/u/82793187?v=4" style="width: 10%">
    <h3>Cheukfei Louie</h3>
    <p><strong>Email: </strong>cheukfeilouie@torontomu.ca</p>
    <p><strong>Phone: </strong>416-000-1234</p>
</div>