<header id="page-header">
    <img src="/assets/Logo-Text.png" alt="Logo Text" style="width: 25%;">
    <h1>Titan Supps</h1>
    <h3>Your one stop shop for all your supplement needs</h3>
</header>
<p>
Welcome to TitanSupps, your one-stop shop for all your bodybuilding supplement needs! We are passionate about helping you achieve your fitness goals, whether you're a seasoned athlete or just starting out on your fitness journey. At TitanSupps, we offer a wide range of high-quality supplements, including whey protein, pre-workout, creatine, and much more. Our products are specially formulated to provide your body with the nutrients it needs to build muscle, increase strength, and improve overall performance. We are committed to providing you with top-notch customer service and support, and we pride ourselves on delivering fast and reliable shipping. 
</p>