<heading>
    <h1>
        Reviews for <span id="item-name">....</span>
    </h1>
</heading>

<div id="review-item-image">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<section id="reviews-list">

</section>

<h3>Add Your Review:</h3>
<form onsubmit="onReviewSubmit(event)" class="form">
    <label for="title">Title</label>
    <input id="title" name="title" required type="text" maxlength="64">
    <label for="content">Description</label>
    <textarea id="content" name="content" maxlength="256"></textarea>
    <input type="hidden" name="user" value="{{user}}">
    <input type="hidden" name="item" value="{{item}}">
    <input name="ranking" type="number" min="1" max="5" step="1" placeholder="A ranking from 1-5">
    <button type="submit">Submit</button>
</form>