<div id="sign-up">
    <h1>Sign Up</h1>
    <form class="form" onsubmit="onSignUpSubmit(event)">
        <label for="email">Email</label>
        <input required id="email" name="email">
        <label for="password">Password</label>
        <input required id="password" name="password" type="password">
        <label for="confirm-password">Confirm Password</label>
        <input required id="confirm-password" name="confirm-password" type="password">
        <button type="submit">Sign Up</button>
    </form>
</div>