.order {

    border: 1px solid white;
    margin: 0 auto 50px;
    width: 80vw;

}

#order_items {

    position: relative;
    min-height: 200px;

}

.order-link, .order-link:visited {


    color: white;
    text-decoration: none;

}

.order-link:hover {

    color: gray;

}